.contact-container {
    margin: 40px 0;
    text-align: center;
    
}
.contact-container h1 {
    margin-bottom: 30px;
}
.contact-us-wrap {
    background-color: white;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px 40px 50px;
}
.contact-us-wrap form {
    width: 50%;
}
.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0;
    padding: 0 10px;
    border: 1px solid rgb(215, 224, 224);
    font-family: inherit;
}
.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
}
.contact-form textarea {
    height: 120px;
    padding-top: 10px;
}
.contact-address {
    max-width: 350px;
    padding: 0 50px;
    text-align: left;
}
.contact-address h3 {
    margin-bottom: 20px;
}
.contact-address p {
    color: #707070;
    font-size: 16px;
}
.contact-details {
    margin-top: 30px;
}
.submit {
    background-color: #001514;
    color: white;
    border: none;
}

/* MEDIA QUERIES */
@media (max-width:760px) {
    .contact-container {
        margin: 10px 0 20px;
    }
    .contact-container h1 {
        margin-bottom: 10px;
    }
    .contact-us-wrap {
        flex-direction: column;
        padding: 30px 30px;
    }
    .contact-us-wrap form {
        width: 100%;
        max-width: 500px;
    }
    .contact-form, .contact-address {
        width: 100%;
        padding: 0;
    }
}
